/* App.css */

.App {
  text-align: center;
  padding: 20px;
}

.title {
  font-size: 24px;
  margin-bottom: 20px;
}

.channel-input-container {
  margin-bottom: 20px;
}

.channel-label {
  font-size: 18px;
  margin-right: 10px;
}

.channel-input {
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 300px;
  max-width: 100%;
}
